.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 50%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-posts {
  display: block;
  text-align: left;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.App-posts li {
  border: 0.1em solid #bbb;
  padding: 0.5em;
  width: 33%;
  display: inline-flex;
  height: 5.5em;
  flex-wrap: wrap;
}

@media (min-width: 450px) and (max-width: 900px){
  .App-posts li {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 450px) {
  .App-posts li {
    width: 100%;
    height: auto;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*, *:before, *:after {
  box-sizing: border-box;
}